$background: lightcoral;
$easing: cubic-bezier(.25,1.7,.35,.8);
$duration: 0.5s;

.arrow-icon {
  //background-color:$background;
  height: 1.5em;
  width: 1.5em;
  display:block;
  position: relative;
  cursor: pointer;
  transform:rotate(90deg);
  transition: all $duration $easing;
}

.left-bar {
  position: absolute;
  top: 12px;
  left: 2px;
  width: 12px;
  height: 1px;
  display: block;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-radius: 2px;

}
.right-bar {
  position: absolute;
  top: 12px;
  left: 10px;
  width: 12px;
  height: 1px;
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  border-radius: 2px;
}

.open {
  transform:rotate(180deg);
}


