/* width */
::-webkit-scrollbar {
  width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e4e4e4;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009688;
}