@import '../../../assets/css/incsass/colors';
@import '../../../assets/css/incsass/reset';
@import '../../../assets/css/incsass/fontface';

#signin{
   padding: 3rem;
   position: absolute;
   top: 50%;
   left: 50%;
   height: 90vh;
   width: 500px;
   overflow: hidden;
   transform: translate(-50%,-50%);
   border: 0.8px solid rgb(209, 210, 214);
   border-radius: 0.4rem;
}
.loading{
   position: absolute;
   height: 5px;
   width: 500px;
   left: 50%;
   top: 3px;
   transform: translate(-50%,-50%);
   background-color: #e2e2e2;
}
.loading::before{
   display: block;
   content: '';
   height: 5px;
   width: 0;
   position: absolute;
   left: 0rem;
   border-radius: 2rem;
   background-color: #37a2ff;
   animation: animLoading 1.2s linear infinite;
}

@keyframes animLoading{
   /* 0%{ left: 0 ; width: 0;}
   40%{ width: 22rem ;}
   60%{ width: 22rem ;}
   100%{ left: 24rem; width: 0;} */
   0%{
       left: 0; width: 0;
   }
   50%{
       left: 50%; width: 50%;
   }
}
.bo-co-na{
   margin-bottom: 2rem;
   text-align: center;
}
.bo-cr-ac{
   margin-bottom: 2rem;
}
.si-in{
   font-weight: 400;
   font-size: 1.1em;
}
.bo-cr-ac h2{
   font-weight: 300;
   text-align: center;
   font-size: 1.3em;
   line-height: 1.5;
}
.in-box{
   position: relative;
   display: block;
   margin: 0 auto;
   width: 80%;
   margin-bottom: 0.8rem;
   box-sizing: border-box;
}
.in-box input{
   height: 2.7rem;
   border: 1px solid rgb(185, 187, 190);
   border-radius: 0.3rem;
   padding-left: 1rem;
   width: 100%;
   box-sizing: border-box;
   font-size: 1.1em;
}
.in-box label{
   position: absolute;
   top: 0.8rem;
   left: 1rem;
   color: #424242;
   font-size: 0.95em;
   transition: top 0.2s, left 0.2s;
}
.in-box input:focus{
   border: 1.5px solid #2196f3;
}
.wh-er input{
   border: 1.5px solid #d32f2f;
}
.wh-er input:focus{
   border: 1.5px solid #d32f2f;
}
.in-box input:focus ~ label,
.in-box input:valid ~ label{
   top: -0.5rem;
   left: 0.3rem;
   font-size: 0.8em;
   color: #2196f3;
   background-color: white;
   padding: 0 0.3rem;
}
.red-text{
   color:#d32f2f !important;
}
.hide{
   font-size: 0.9em;
   margin-left: 0.2rem;
   margin-top: 0.1rem;
   visibility: hidden;
}
.err-show{
   visibility: visible;
}
.ps-eye{
   position: absolute;
   top: 0.2rem;
   right: 0.2rem;
   height: 2.4rem;
   width: 2.4rem;
   border-top-right-radius: 0.2rem;
   border-bottom-right-radius: 0.2rem;
   background-color: rgb(238, 238, 238);
   cursor: pointer;
   padding: 0.45rem;
   box-sizing: border-box;
}
.eye-img{
   height: 1.4rem;
   opacity: 0.7;
}
.fo-pa{
   display: block;
   width: 80%;
   margin:1rem auto;
   
}
.fo-pa p{
   color: #1976d2;
   cursor: pointer;
}
.fo-pa p:hover{
   color: #2196f3
}
.reg-ins{
   float: left;
   margin-top: 1.6rem;
   margin-left: 0.52rem;
   text-decoration: none;
   color: #1e88e5;
}
.sin-btn{
   float: right;
   border: none;
   margin-top: 1rem;
   padding: 0.5rem 2rem;
   background-color: #2196f3;
   border-radius: 0.2rem;
   box-shadow: 0 0 2px 0 rgb(173, 173, 173);
   color: white;
   font-size: 1em;
   cursor: pointer;
}
.sin-btn:hover{
   background-color:#1e88e5;
}