@import '../../../assets/css/incsass/colors';
@import '../../../assets/css/incsass/reset';
@import '../../../assets/css/incsass/fontface';
@import '../../../assets/css/incsass/scrollbar';

%def_input{
   height: 3rem;
   width: 100%;
   color: $grey800;
   border: none;
   padding-left:1rem;
   font-size: 1.1em;
   font-family: Roboto;
   border-radius: 0.2rem;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.151);
}

%def_select_arrow_down{
   position: absolute;
   top: 0;
   right: 0;
   z-index: 1;
   height: 3rem;
   width: 3rem;
   padding: 1rem;
   display: block;
   background-color: white;
   color: $grey800;
   pointer-events: none;
}

%def_button{
   border: none;
   background: rgb(73,81,226);
   background: linear-gradient(60deg, rgba(73,81,226,1) 0%, rgba(126,81,251,1) 100%);
   color: white;
   padding: 0.5rem 1.5rem;
   margin-left: 1rem;
   border-radius: 0.2rem;
   cursor: pointer;
}

#sidebar{
   width: 14rem;
   min-height: 100vh;
   overflow:auto;
   background-color: $grey900;
   position: relative;
   transition: width 0.3s ease-in-out;
   float: left;
   .hamburger{
      position: absolute;
      top: -1rem;
      right: -0.8rem;
      z-index: 100;
   }
}
.sd_pr_bx{
   //opacity: 1;
   transition-property:top,left ;
   transition-duration: 0.3s;
   transition-timing-function: ease-in-out;
   border-bottom: 1px solid rgba(255, 255, 255, 0.055);
   padding-bottom: 0.7rem;
   position: absolute;
   top: 0;
   left: 0;
   img{
      width: 100%;
      height: 24vh;
      object-fit: cover;
      object-position: top;
   }
   h3,p{
      
      margin-left: 1rem;
   }
   h3{
      margin-top: 0.5rem;
      color: $grey300;
      font-weight: 400;
   }
   p{
      font-size: 0.9em;
      color: $grey500;
   }
}
.categories{
   position: absolute;
   width: 100%;
   transition: top 0.3s ease-in-out;
   top: 15rem;
   left: 0;
   .ma_ca_li{
      width: 100%;
      padding:0.7rem;
      cursor: pointer;
      i{
         color: $grey400;
         width: 2rem;
         text-align: center;
         pointer-events: none;
      }
      a{
         text-decoration: none;
         color: $grey500;
         letter-spacing: 0.8px;
         opacity: 1;
         transition: opacity 0.2s ease-out;
         pointer-events: none;
         padding-left: 8px;
         user-select: none;
      }
   }
   .ma_ca_li:hover{
      background-color: $grey31;
   }
   li{
      width: 100%;
      padding:0.7rem;
      transition: padding 0.3s ease-in-out;
      position: relative;
      cursor: pointer;
      i{
         color: $grey400;
         width: 2rem;
         text-align: center;
         pointer-events: none;
      }
      p{
         text-decoration: none;
         color: $grey500;
         letter-spacing: 0.8px;
         opacity: 1;
         transition: opacity 0.2s ease-out;
         pointer-events: none;
         padding-left: 8px;
         user-select: none;
      }
      ul{
         overflow: hidden;
         height: auto;
         max-height: 0px;
         transition-property: max-height,margin-top;
         transition-duration: 0.3s;
         transition-timing-function: ease-in-out;
         li{
            color: $grey500;
            list-style-type: none;
            margin-left: 2.5rem;
         }
         li:hover{
            color: white;
         }
      }
      // #subItems{
      //    position: absolute;
      // }
   }
   li:hover{
      background-color: $grey31;
   }
   hr{
      border: 1px solid $grey31;
      margin:1rem 0;
   }
}
#header{
   background-color: $grey50;
   min-height: 3.8rem;
   box-shadow: 0 8px 8px 0 rgb(233, 233, 233);
   overflow: hidden;
   display: grid;
   grid-template-columns: 4.5rem 8rem auto 12rem;
   h1{
      margin-top: 1rem;
      font-weight: 400;
      color: $grey800;
      font-size: 1.6em;
   }
   img{
      margin-left: 1rem;
      height: 2.8rem;
      margin-top: 0.5rem;
   }
   .search-box{
      padding: 10px;
      padding-top: 13px;
      width: auto;
      z-index: 95;
      .se-bo{
         display: grid;
         grid-template-columns: 28px auto;
         border: 1.5px solid #eeeeee;
         border-radius: 2rem;
         padding: 0.15rem;
         padding-left: 0.25rem;
         padding-right: 1rem;
       }
       .se-bo input{
         background-color: transparent;
       }
       .se-icon{
         border-radius: 2rem;
         height: 28px;
         padding: 5px;
         background-color: #e9e9e9;
         cursor: pointer;
       }
       .se-icon:hover{
         background-color: #c4c4c4;
       }
       .se-icon i{
         color: $grey600;
       }
       .se-bo input{
         border: none;
         padding-left: 0.8rem;
         font-size: 1em;
       }
   }
   .cre_noti{
      padding-top: 0.9rem;
      padding-left: 0.5rem;
      i{
         color: $grey800;
         cursor: pointer;
      }
      button{
         @extend %def_button;
      }
      button:hover{
         opacity: 0.8;
      }
   }
}
.container{
   width: calc(100% - 14rem);
   transition: width 0.3s ease-in-out;
   position: relative;
   float: right;
   overflow: hidden;
   box-sizing: border-box;  
}

.overlay{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.50);
   z-index: 100;
}

.dashboard{
   background-color: $white1;  
}
.overview{
   padding: 2rem;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 2rem;
   .ovr_bxs{
      //border: 1px solid;
      padding: 1rem;
      min-height: 8rem;
      border-radius: 0.4rem;
      box-shadow: 0 0 12px 0 rgb(185, 185, 185);
      color: white;
      position: relative;
   }
   .to_post,.to_sell{
      background: rgb(73,81,226);
      background: linear-gradient(60deg, rgba(73,81,226,1) 0%, rgba(126,81,251,1) 100%);
      div{
         overflow: hidden;
         width: 100%;
      }
      div:last-child{
         margin-top: 1rem;
         display: grid;
         grid-template-columns: 1fr 1fr;
      }
      .fas,.fab{
         float: left;
         margin-left: 1rem;
      }
      .tp{
         float: right;
      }
      h1{
         font-family: Roboto;
         border-right: 2px solid rgba(0, 0, 0, 0.137);
         text-align: center;
         grid-row: 1/3;
      }
      .now{
         width: 100%;
         margin-left: 1rem;
         font-size: 1.2em;
      }
      span{
         font-size: 12px;
         display: inline;
         grid-column: 2/3;
         margin-left: 1rem;
      }
   }
   .to_sell{
      background: rgb(50,199,138);
      background: linear-gradient(205deg, rgba(50,199,138,1) 0%, rgba(34,130,182,1) 100%);
   }
   .to_earn{
      background: rgb(232,75,110);
      background: linear-gradient(205deg, rgba(232,75,110,1) 0%, rgba(197,79,227,1) 100%);
   }
   .odr_to_del{
      background: rgb(75,148,232);
      background: linear-gradient(205deg, rgba(75,148,232,1) 0%, rgba(79,85,227,1) 100%);
   }
}
.re_a_que{
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.recent{
   padding: 2rem;
   padding-top: 0;
   h2{
      font-weight: 500;
      font-size: 1.1em;
      color: $grey800;
      margin-bottom: 1rem;
   }
}
.re_posts{
   li{
      display: block;
      list-style-type: none;
      padding: 1rem;
      position: relative;
      background-color: white;
      margin-bottom: 1rem;
      box-shadow: 0 0 8px 0 rgb(228, 228, 228);
      border-radius: 0.3rem;
      border-top: 2px solid rgb(36, 207, 150);
      cursor: pointer;
      h1{
         font-weight: 500;
         font-size: 1.1em;
         color: $grey31;
         font-family: Roboto;
         margin-bottom: 0.5rem;
      }
      img{
         width: 100%;
         object-fit:cover;
         object-position: top;
         height: auto;
         max-height: 0px;
         transition: max-height 0.3s linear;
         border-radius: 0.2rem;
      }
      .fa-ellipsis-v{
         position: absolute;
         top:1rem;right:1rem;
         color: $grey800;
      }
      p{
         text-align: justify;
         margin-bottom: 0.5rem;
         padding-right: 1rem;
      }
      h4{
         font-family: Roboto;
         margin-bottom: 0.3rem;
      }
      .far{
         margin-right: 0.5rem;
         span{
            margin-left: 0.2rem;
            font-family: Roboto;
         }
      }
      .created_at{
         position: absolute;
         bottom: 1rem;
         right: 1rem;
         font-family: Roboto;
         font-size: 0.9em;
         color: $grey700;
      }
   }
}
.queue{
   //font-family: Roboto;
   margin-right: 1rem;
   border-radius: 0.4rem;
   overflow: hidden;
   margin-top: 2rem;
   table{
      width: 100%;
      border-collapse: collapse;
      color: $grey31;
      margin-bottom: 1rem;
      th{
         text-align: center;
         font-weight: 500;
         background-color: $green400;
         height: 2rem;
         padding-left: 0.4rem;
         color: $grey100;
      }
      td{
         text-align: center;
         font-family: Roboto;
         padding: 0.4rem 0;
         padding-left: 0.4rem;
         height: 2.2rem;
         color: $grey700;
         img{
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.582);
         }
      }
      tr:nth-child(even){
         background-color: #ffffff;
      }
      tr:nth-child(odd){
         background-color: white;
      }
      
   }
   h2{
      font-weight: 500;
      font-size: 1.1em;
      color: $grey800;
      margin-bottom: 1rem;
   }
   .qu_top_th{
      height: 4rem;
      text-align: center;
      background-color: $green400;
      letter-spacing: 2px;
      color: white;
   }
}


////////////////////////
///// @ POST AD ////////

.post_ad{
   width: 40rem;
   margin: 0 auto;
   padding: 3rem;
   height: 100%;
   overflow: auto;
   .pa_title{
      text-align: center;
      margin-bottom: 0.5rem;
      color: $grey600;
   }
   .pa_form{
      border: 1px solid $grey200;
      border-radius: 0.4rem;
      box-shadow: 0 2px 6px $grey200;
      padding: 1.5rem;
      .spc_select,.spsc_select{
         position: relative;
         select{
            @extend %def_input;
         }
         i{
            @extend %def_select_arrow_down;
         }
      }
      .label{
         margin-top: 1rem;
         color: $grey700;
         margin-left: 0.1rem;
      }
      input{
         @extend %def_input;
         box-shadow: none;
         border: 1.5px solid #e4e4e4;
         margin-bottom: 0.5rem;
      }
      textarea{
         box-sizing: border-box;
         width: 100%;
         border: 1.5px solid #e4e4e4;
         margin-bottom: 0.5rem;
         color: $grey800;
         font-size: 1.1em;
         padding: 0.5rem;
      }
      button{
         border: none;
         padding: 0.5rem 1.1rem;
         background-color: $grey31;
         color: white;
         border-radius: 0.2rem;
         cursor: pointer;
         i{
            margin-right: 0.4rem;
         }
      }
      button:hover{
         background-color: $grey700;
      }
   }
}

/////////////////////////
//// POP UP / MODAL /////
.pa_upload{
   position: fixed;
   top: 50%;left: 50%;width: 0;height: 0;
   overflow: hidden;transform: translate(-50%,-50%);
   background-color: rgb(255, 255, 255);
   transition:all 0.3s ease-in-out;
   border-radius: 0.4rem;opacity: 0;
   box-shadow: 0 0 4px 8px 0 rgba(0, 0, 0, 0.479);
}
.pa_upload_show{
   transition:all 0.3s ease-in-out;overflow: auto;
   top: 50%;left: 50%;width: 36rem;height: 80%;z-index: 101;
   padding: 2rem 3rem;box-sizing: border-box;opacity: 1;

   .upFinish{
      border: none;
      padding: 0.4rem 1rem;
      background-color: rgb(0, 119, 255);
      color: white;
      border-radius: 0.2rem;
      cursor: pointer;
      margin-bottom: 1rem;
      display: none;
   }
   .upFinish:hover{
      background-color: rgb(2, 92, 194);
   }

   .show{
      display: block;
   }
}
.jumbotron h1 {
   color: inherit
}

.jumbotron p {
   margin-bottom: 15px;
   font-size: 21px;
   font-weight: 200
}
.dropzone {
   border: 2px dashed #ccc;
   height: 100px;
   margin: 0 auto;
   position: relative;
}
.dropzone p {
   text-align: center;
   margin-top: 2rem;
   color: $grey800;
}
.dropzone input[type=file] {
   height: 100%;
   left: 0;
   outline: 0;
   opacity: 0;
   position: absolute;
   top: 0;
   width: 100%
}
.dropzone+.status {
   border-radius: 5px;
   margin: 10px 10px 0;
   padding: 15px;
   text-align: center
}
.dropzone.dropzone-dragging {
   border-color: #000
}
.loading-modal {
   background-color: rgba(255, 255, 255, .8);
   display: none;
   position: fixed;
   z-index: 1000;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%
}
.loading-image {
   position: absolute;
   top: 50%;
   left: 50%;
   margin: -16px 0 0 -16px
}
body.busy .loading-modal {
   display: block
}

#pa_images,.pa_upd_img{
   width: 29rem;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 4px;
   img{
      width: 100%;
      object-fit: cover;
      object-position: top;
   }
   img:first-child{
      grid-column: 1/3;
      grid-row: 1/3;
   }
}
.pa_upd_img{
   margin-bottom: 1rem;
}
//// POP UP / MODAL /////
/////////////////////////

.paPostBtn{
   @extend %def_button;
}


////////////////////////
//// Queued Tab/view////
.queued{
   width: 44rem;
   margin: 0 auto;
   box-shadow: 0 4px 8px 0 rgb(224, 224, 224);
   border: 1.5px solid rgb(233, 232, 232);
   border-radius: 0.4rem;
   overflow: hidden;
   margin-top: 2.5rem;
   margin-bottom: 1rem;
   table{
      width: 100%;
      border-collapse: collapse;
      color: $grey800;
      th{
         text-align: left;
         font-weight: 500;
         background-color: $teal50;
         height: 2rem;
         padding-left: 1rem;
         //color: white;
      }
      td{
         font-family: Roboto;
         padding: 0.8rem 0;
         padding-left: 1rem;
         //height: 2.5rem;
         color: $grey700;
         img{
            height: 3rem;
            width: 3rem;
            object-fit: cover;
            object-position: top;
            border-radius: 50%;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.582);
         }
      }
      tr:nth-child(even){
         background-color: $grey50;
      }
      tr:nth-child(odd){
         background-color: white;
      }
      th:nth-child(2){
         width: 16rem;
      }
   }
   h2{
      font-weight: 500;
      font-size: 1.1em;
      color: $grey800;
      margin-bottom: 1rem;
   }
   .qud_top_th{
      height: 4rem;
      text-align: center;
      background-color: $teal50;
      letter-spacing: 2px;
      color: $grey31;
   }
}
//// Queued Tab/view////
////////////////////////
